// -----------------------------------------------------------------------------
// В этом файле подключаются все шрифты через font-face, и задаются основные настройки типографики
// -----------------------------------------------------------------------------

// @include font-face("Roboto", "../assets/fonts/Roboto/Roboto-Light", 300);
// @include font-face("Roboto", "../assets/fonts/Roboto/Roboto-Regular", 400);
// @include font-face("Roboto", "../assets/fonts/Roboto/Roboto-Medium", 500);
// @include font-face("Roboto", "../assets/fonts/Roboto/Roboto-Bold", 700);

// @include font-face("PTSans", "../assets/fonts/PTSans/PTSans-Light", 300);
@include font-face("PTSans", "../assets/fonts/PTSans/PTSans-Regular", 400);
// @include font-face("PTSans", "../assets/fonts/PTSans/PTSans-Medium", 500);
@include font-face("PTSans", "../assets/fonts/PTSans/PTSans-Bold", 700);

@include font-face("PragmaticaExtended", "../assets/fonts/PragmaticaExtended/PragmaticaExtended-Medium", 500);
@include font-face("PragmaticaExtended", "../assets/fonts/PragmaticaExtended/PragmaticaExtended-Bold", 700);

$font-default: "PTSans", sans-serif; // Семейство по умолчанию
$font-title: "PragmaticaExtended", sans-serif; // Семейство заголовков



/* Размеры заголовков */
$font__title--large: 64px;
$font__title--medium: 48px;
$font__title--small: 36px;

/* Размеры текста */
$font__text--large: 24px;
$font__text--big: 18px;
$font__text--regular: 16px;
$font__text--small: 14px;

/* Межстрочные расстояния */
$line-height--primary: 1.35;

body {
  font-size: $font__text--regular;
  font-family: $font-default, sans-serif;
}
